:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* 16:9 aspect ratio qHD */
canvas {
  background-color: white;
  width: 960px;
  height: 540px;
}

#minimap {
  background-color: #242424;
  border: 1px solid white;
  float: right;
  width: 400px;
  height: 400px;
}